*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.game-board{
    background: url(../resources/wp.png) no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.fridge{
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 150px;
    background-color: #331a1a00;
    animation: fridge-animation 1.5s infinite linear;
}

.cadet{
    width: 100px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 600ms ease-out;
}
@keyframes fridge-animation {
    from{
    right: -80px;
    }
    to{
    right: 100%;
    }
}


@keyframes jump {

    0% {
        bottom: 0;
    }
    40% {
        bottom: 250px;
    }
    50% {
        bottom: 250px;
    }
    60% {
        bottom: 250px;
    }
    100%{
        bottom: 0;
    }

}