*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.game-board{
    background: url(../resources/wp.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.fridge{
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 150px;
    background-color: #331a1a00;
    animation: fridge-animation 1.5s infinite linear;
}

.cadet{
    width: 100px;
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 600ms ease-out;
}
@keyframes fridge-animation {
    from{
    right: -80px;
    }
    to{
    right: 100%;
    }
}

.gameover{
    font-family: Cursive;
    font-size: 40px;
    text-align: center;
    padding: 20px; 
    color: rgb(242, 247, 217);
    background-color: #000000d2; 
    border-radius: 10px;
    width: 500px;
    margin: 0 auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameover img {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-radius: 50%;
    clip-path: ellipse(50% 40% at center);
  }

  button {
    font-family: Cursive;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
    button:hover {
    background-color: #45a049; 
  }

@keyframes jump {

    0% {
        bottom: 0;
    }
    40% {
        bottom: 250px;
    }
    50% {
        bottom: 250px;
    }
    60% {
        bottom: 250px;
    }
    100%{
        bottom: 0;
    }

}